---
export interface Props {
	name: string;
}

const { name } = Astro.props;
---

<a href={`/categories/${name.toLowerCase()}`}>
	{name.toLowerCase()}
</a>

<style>
	@import "open-props/src/props.media.css";
	a {
		color: var(--link);
		text-decoration: none;
		font-size: var(--font-size-1);
		font-weight: var(--font-weight-5);
		padding-block: var(--size-1);
		padding-inline: var(--size-4);
		border: var(--border-size-2) solid var(--link);
		border-radius: var(--radius-round);
		background-color: transparent;
		@media (--motionOK) {
			transition: background-color 0.2s ease-in-out;
		}
		&:visited {
			border-color: var(--link-visited);
		}
		&:hover {
			background-color: hsl(var(--link-hsl) / 15%);
		}
	}
</style>
