---
import siteInfo from "~/data/site-info.js";
import SocialLinks from "./SocialLinks.astro";

const socialLinks = siteInfo.socialLinks;
---

<footer class="container">
	<nav aria-label="Legal">
		<a class="link" href="/privacy">Privacy Policy</a>
		<a class="link mr-auto" href="/terms">Terms of Use</a>
		<p class="col-span-2 text-center md:col-span-1">
			<a href="/license" target="_blank">MIT License</a> &copy; {
				new Date().getFullYear()
			}
			<a href="/contributors" target="_blank">AstroProps Contributors</a>
		</p>
		<SocialLinks links={socialLinks} />
	</nav>
</footer>

<style>
	@import "open-props/src/props.media.css";

	footer {
		margin-block-start: auto;
	}
	nav {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 1rem;
		align-items: center;
		padding-block: var(--size-5);
		opacity: 0.6;
		@media (--md-n-above) {
			grid-template-columns: auto auto 1fr auto;
			padding-block: var(--size-7);
		}
	}
	nav,
	p {
		font-size: var(--font-size-0);
	}
</style>
